@import "tailwindcss";

:root {
  --background: 255 255 255;
  --foreground: 103 103 103;
}

@theme {
  --color-background: rgb(var(--background));
  --color-foreground: rgb(var(--foreground));
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-arial: Arial, Helvetica, sans-serif;
  --font-zenkaku: var(--font-zen-kaku-gothic-new);
  --font-kosugi-maru: var(--font-kosugi-maru);
  --font-m-plus-rounded-1c: var(--font-m-plus-rounded-1c);

  /*--breakpoint-md: 800px;
  --breakpoint-lg: 1190px;
  --breakpoint-xl: 1340px;*/
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-m-plus-rounded-1c), Arial, Helvetica, sans-serif;

  overscroll-behavior: none;
}